<br><br>
<div class="container">
  <form class="jumbotron">
      <h3 class="display-4"> EMAIL </h3>
      <div class="form-group">
        
        <input type = "text" #destinatario > <label>destinatario</label>>
        <input type = "text" #oggetto > <label>oggetto</label>>
        <input type = "text" #messaggio > <label>messaggio</label>>
   
      <button (click)="sendMail(destinatario, oggetto, messaggio)" class="btn btn-primary">
        INVIA
      </button>

      <ul>
        <li *ngFor = "let e of vettMail">
          {{e | json}}
        </li>
      </ul>
   
   