<br><br>
<div class="container">
  <form class="jumbotron">
      <h3 class="display-4"> EMAIL </h3>
      <div class="form-group">
        <label for="title"> < - a</label>
        <input name="title" #newtitle class="form-control">
      </div>
      <div class="form-group">
        <label for="link"> < - oggetto</label>
        <input name="link" #newlink class="form-control">
      </div>
      <div class="form-group">
        <label for="link"></label>
        <input name="link" #newlink class="form-control">
      </div>
      
   
   